.myname {
  color: var(--main-text-color);
}

.projects {
  /* flex: 1 0 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

/* Tweet 컴포넌트 */

.project {
  /* display: flex;
  flex-direction: row;
  width: 465px;
  margin-bottom: 40px; */

  list-style: none;
  padding: 44px 47px;
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.project:hover {
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.1);
}

.project__content {
  flex: 1 0 0;
}

.project__userInfo > .project__username {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: var(--large-size);
}

.project__createdAt {
  color: var(--sub-text-color);
}

.project__message {
  margin-top: 22px;
  margin-bottom: 10px;
}
