* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

:root {
  --main-background-color: #f7f8fa;
  --main-text-color: #2a3256;
  --sub-text-color: #9499a6;
  --personal-component-color: #5055de;
  --team-component-color: #0d2259;

  --large-size: 24px;
  --medium-size: 16px;
  --small-size: 14px;
  --tiny-size: 12px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  border: 0;
}

button,
input {
  overflow: visible; /* 1 */
}

button:hover,
button:focus {
  background: var(--point-color);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

textarea {
  overflow: auto;
  resize: none;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  flex: 1 0 0;
}

footer {
  flex: 0 0 1rem;
  padding: 0.3rem;
  text-align: right;
}

.sidebar {
  position: sticky;
  top: 0px;
  width: 125px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icons {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.iconbox {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
}

/* .far,
.fas {
  font-size: 2rem;
  color: var(--default-text-color);
  padding: 1.3rem;
  cursor: pointer;
} */

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  flex: 1 0 0;
}

.features > .features-inner {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.top__container {
  margin-top: 35px;
}

.projectForm__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectForm__count__text {
  color: var(--main-text-color);
}

.maintitle {
  font-size: 48px;
  color: var(--main-text-color);
  margin-top: 100px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: var(--medium-size);
  color: var(--sub-text-color);
  margin-bottom: 65px;
}

.projectForm__username {
  font-size: var(--medium-size);
  color: var(--main-text-color);
}

.project__userInfo {
  display: flex;
  justify-content: space-between;
}

.component {
  height: 40px;
  padding: 5px 15px;
  background-color: var(--personal-component-color);
  text-align: center;
  border-radius: 50px;
}

.component__text {
  color: #fff;
  font-size: var(--tiny-size);
  font-weight: 600;
  line-height: 2.5;
}
